body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    float: right;
    margin-right: 150px;
}

table {
    width: 100%;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    color: gray;
}

#logo {
    margin: 100px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5em;
    color: darkgrey;
}

#splash {
    width: 100%;
}
